<div class="Budget" [@slideInFromRight]>
  <div class="Budget__Title"> Calculate your Monthly Budget </div>
  <mat-stepper class="Budget__FormGroup" linear="true">
    <mat-step [stepControl]="incomeForm" label="Income" state="income">
      <form [formGroup]="incomeForm"  class="Budget__FormGroup__Income">
        <div class="Budget__FormGroup__Income__Input">
          <mat-form-field appearance="outline">
            <mat-label>After Tax Monthly Income</mat-label>
            <input matInput placeholder="$1500" formControlName="incomeBudget" prefix="$ " mask="separator.2" thousandSeparator=",">
            <mat-error *ngIf="checkError( 'income',  'incomeBudget', 'required')">This field is required</mat-error>
            <mat-error *ngIf="checkError( 'income',  'incomeBudget', 'pattern')">Please enter a number</mat-error>
          </mat-form-field>
        </div>
        <div class="Budget__FormGroup__Income__Input">
          <mat-form-field appearance="outline">
            <mat-label>Other Income</mat-label>
            <input matInput placeholder="$100" formControlName="otherBudget" prefix="$ " mask="separator.2" thousandSeparator=",">
            <mat-error *ngIf="checkError( 'income',  'otherBudget', 'required')">This field is required</mat-error>
            <mat-error *ngIf="checkError( 'income',  'otherBudget', 'pattern')">Please enter a number</mat-error>
          </mat-form-field>
        </div>
      </form>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="housingForm" label="Housing Expenses" state="housing">
      <form [formGroup]="housingForm"  class="Budget__FormGroup__Income">
        <div class="Budget__FormGroup__Income__Input">
          <mat-form-field appearance="outline">
            <mat-label>Rent/Mortgage</mat-label>
            <input matInput placeholder="$1500" formControlName="housingBudget" prefix="$ " mask="separator.2" thousandSeparator=",">
            <mat-error *ngIf="checkError('housing','housingBudget', 'pattern')">Please enter a number</mat-error>
          </mat-form-field>
        </div>
        <div class="Budget__FormGroup__Income__Input">
          <mat-form-field appearance="outline">
            <mat-label>Utilities/Electric/Water</mat-label>
            <input matInput placeholder="$100" formControlName="utilityBudget" prefix="$ " mask="separator.2" thousandSeparator=",">
            <mat-error *ngIf="checkError('housing','utilityBudget', 'pattern')">Please enter a number</mat-error>
          </mat-form-field>
        </div>
        <div class="Budget__FormGroup__Income__Input">
          <mat-form-field appearance="outline">
            <mat-label>Internet/Cable</mat-label>
            <input matInput placeholder="$100" formControlName="internetBudget" prefix="$ " mask="separator.2" thousandSeparator=",">
            <mat-error *ngIf="checkError('housing','utilityBudget', 'pattern')">Please enter a number</mat-error>
          </mat-form-field>
        </div>
        <div class="Budget__FormGroup__Income__Input">
          <mat-form-field appearance="outline">
            <mat-label>Other/HOA/Insurance</mat-label>
            <input matInput placeholder="$100" formControlName="otherBudget" prefix="$ " mask="separator.2" thousandSeparator=",">
            <mat-error *ngIf="checkError('housing','utilityBudget', 'pattern')">Please enter a number</mat-error>
          </mat-form-field>
        </div>
      </form>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="transportationForm" label="Transportaion Expenses" state="transportation">
      <form [formGroup]="transportationForm"  class="Budget__FormGroup__Income">
        <div class="Budget__FormGroup__Income__Input">
          <mat-form-field appearance="outline">
            <mat-label>Car Payment</mat-label>
            <input matInput placeholder="$1500" formControlName="carBudget" prefix="$ " mask="separator.2" thousandSeparator=",">
            <mat-error *ngIf="checkError('transportation','carBudget', 'pattern')">Please enter a number</mat-error>
          </mat-form-field>
        </div>
        <div class="Budget__FormGroup__Income__Input">
          <mat-form-field appearance="outline">
            <mat-label>Car Insurance</mat-label>
            <input matInput placeholder="$100" formControlName="insuranceBudget" prefix="$ " mask="separator.2" thousandSeparator=",">
            <mat-error *ngIf="checkError('transportation','insuranceBudget', 'pattern')">Please enter a number</mat-error>
          </mat-form-field>
        </div>
        <div class="Budget__FormGroup__Income__Input">
          <mat-form-field appearance="outline">
            <mat-label>Gas/Fuel</mat-label>
            <input matInput placeholder="$100" formControlName="gasBudget" prefix="$ " mask="separator.2" thousandSeparator=",">
            <mat-error *ngIf="checkError('transportation','gasBudget', 'pattern')">Please enter a number</mat-error>
          </mat-form-field>
        </div>
        <div class="Budget__FormGroup__Income__Input">
          <mat-form-field appearance="outline">
            <mat-label>Car Maintenence/Repair</mat-label>
            <input matInput placeholder="$100" formControlName="repairBudget" prefix="$ " mask="separator.2" thousandSeparator=",">
            <mat-error *ngIf="checkError('transportation','repairBudget', 'pattern')">Please enter a number</mat-error>
          </mat-form-field>
        </div>
      </form>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="educationForm" label="Education Expenses" state="education">
      <form [formGroup]="educationForm"  class="Budget__FormGroup__Income">
        <div class="Budget__FormGroup__Income__Input">
          <mat-form-field appearance="outline">
            <mat-label>Supplies/Tools</mat-label>
            <input matInput placeholder="$1500" formControlName="suppliesBudget" prefix="$ " mask="separator.2" thousandSeparator=",">
            <mat-error *ngIf="checkError('education','suppliesBudget', 'pattern')">Please enter a number</mat-error>
          </mat-form-field>
        </div>
        <div class="Budget__FormGroup__Income__Input">
          <mat-form-field appearance="outline">
            <mat-label>Student Loan Payments</mat-label>
            <input matInput placeholder="$100" formControlName="loansBudget" prefix="$ " mask="separator.2" thousandSeparator=",">
            <mat-error *ngIf="checkError('education','loansBudget', 'pattern')">Please enter a number</mat-error>
          </mat-form-field>
        </div>
        <div class="Budget__FormGroup__Income__Input">
          <mat-form-field appearance="outline">
            <mat-label>Tuition</mat-label>
            <input matInput placeholder="$100" formControlName="tuitionBudget" prefix="$ " mask="separator.2" thousandSeparator=",">
            <mat-error *ngIf="checkError('education','tuitionBudget', 'pattern')">Please enter a number</mat-error>
          </mat-form-field>
        </div>
      </form>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="personalForm" label="Personal Expenses" state="personal">
      <form [formGroup]="personalForm"  class="Budget__FormGroup__Income">
        <div class="Budget__FormGroup__Income__Input">
          <mat-form-field appearance="outline">
            <mat-label>Gorceries/Food</mat-label>
            <input matInput placeholder="$1500" formControlName="groceryBudget" prefix="$ " mask="separator.2" thousandSeparator=",">
            <mat-error *ngIf="checkError('personal','groceryBudget', 'pattern')">Please enter a number</mat-error>
          </mat-form-field>
        </div>
        <div class="Budget__FormGroup__Income__Input">
          <mat-form-field appearance="outline">
            <mat-label>Apparel/Clothing</mat-label>
            <input matInput placeholder="$100" formControlName="clothesBudget" prefix="$ " mask="separator.2" thousandSeparator=",">
            <mat-error *ngIf="checkError('personal','clothesBudget', 'pattern')">Please enter a number</mat-error>
          </mat-form-field>
        </div>
        <div class="Budget__FormGroup__Income__Input">
          <mat-form-field appearance="outline">
            <mat-label>Entertainment</mat-label>
            <input matInput placeholder="$100" formControlName="entertainmentBudget" prefix="$ " mask="separator.2" thousandSeparator=",">
            <mat-error *ngIf="checkError('personal','entertainmentBudget', 'pattern')">Please enter a number</mat-error>
          </mat-form-field>
        </div>
        <div class="Budget__FormGroup__Income__Input">
          <mat-form-field appearance="outline">
            <mat-label>Medical/Emergency Fund</mat-label>
            <input matInput placeholder="$100" formControlName="medicalBudget" prefix="$ " mask="separator.2" thousandSeparator=",">
            <mat-error *ngIf="checkError('personal','medicalBudget', 'pattern')">Please enter a number</mat-error>
          </mat-form-field>
        </div>
        <div class="Budget__FormGroup__Income__Input">
          <mat-form-field appearance="outline">
            <mat-label>Savings/401k/HYS/ROTH IRA</mat-label>
            <input matInput placeholder="$100" formControlName="savingsBudget" prefix="$ " mask="separator.2" thousandSeparator=",">
            <mat-error *ngIf="checkError('personal','savingsBudget', 'pattern')">Please enter a number</mat-error>
          </mat-form-field>
        </div>
        <div class="Budget__FormGroup__Income__Input">
          <mat-form-field appearance="outline">
            <mat-label>Other</mat-label>
            <input matInput placeholder="$100" formControlName="otherBudget" prefix="$ " mask="separator.2" thousandSeparator=",">
            <mat-error *ngIf="checkError('personal','otherBudget', 'pattern')">Please enter a number</mat-error>
          </mat-form-field>
        </div>
      </form>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-flat-button class="Savings__Form__Submit" (click)="submitBudget()" >Analyze Budget</button>
      </div>
    </mat-step>
    
    <ng-template matStepperIcon="income">
      <mat-icon>
        attach_money
      </mat-icon>
    </ng-template>
    <ng-template matStepperIcon="housing">
      <mat-icon>
        home
      </mat-icon>
    </ng-template>
    <ng-template matStepperIcon="transportation">
      <mat-icon>
        directions_car
      </mat-icon>
    </ng-template>
    <ng-template matStepperIcon="education">
      <mat-icon>
        school
      </mat-icon>
    </ng-template>
    <ng-template matStepperIcon="personal">
      <mat-icon>
        person
      </mat-icon>
    </ng-template>
  </mat-stepper>
</div>

<div class="Budget__Analytics" [@slideInFromLeft] *ngIf="canSeeGraph">
  <div class="Budget__Analytics__Title">Your Total Budget Breakdown</div>
  <div class="Budget__Analytics__Content">
    <mat-tab-group class="Budget__Analytics__Content__TabGroup" >
      <mat-tab class="Budget__Analytics__Content__TabGroup__Tab" label="Ideal Budget"> 
        <div class="Budget__Analytics__Content__TabGroup__Tab__Title">Your Budget on the 50/30/20 Rule</div>
        <ngx-charts-pie-chart
        [view]="pieSettings.view"
        [results]="idealDataset"
        [gradient]="pieSettings.gradient"
        [legend]="pieSettings.showLegend"
        [labels]="pieSettings.showLabels"
        [doughnut]="pieSettings.isDoughnut"
        [legendPosition]="pieSettings.legendPosition">
        </ngx-charts-pie-chart>
      </mat-tab>
      <mat-tab class="Budget__Analytics__Content__TabGroup__Tab" label="Your Budget">
        <div class="Budget__Analytics__Content__TabGroup__Tab__Title">Your Current Budget Now</div>
        <ngx-charts-pie-chart
        [view]="pieSettings.view"
        [results]="userDataset"
        [gradient]="pieSettings.gradient"
        [legend]="pieSettings.showLegend"
        [labels]="pieSettings.showLabels"
        [doughnut]="pieSettings.isDoughnut"
        [legendPosition]="pieSettings.legendPosition">
        </ngx-charts-pie-chart>
      </mat-tab>
      <mat-tab class="Budget__Analytics__Content__TabGroup__Tab" label="Category Breakdown" > 
        <div class="Budget__Analytics__Content__TabGroup__Tab__Title">Category Breakdown</div>
        <ngx-charts-advanced-pie-chart
        [view]="pieSettings.view"
        [results]="userDataset"
        [gradient]="pieSettings.gradient">
        </ngx-charts-advanced-pie-chart>
        <ngx-charts-pie-grid class="Budget__Analytics__Content__TabGroup__Tab__Chart"
        [view]="pieSettings.view"
        [results]="userCategoryDataset">
      </ngx-charts-pie-grid>
      </mat-tab>
    </mat-tab-group>
  </div>  
</div>

<div class="Budget__GraphPlaceholder" [@slideInFromLeft] *ngIf="!canSeeGraph">
  Please fill out the form above to see your Finance Graphics
</div>