@import '../../styles.scss';

.Budget {
  @include FlexColumnCentered;
  gap: 24px;
  padding: 0 24px;

  &__Title {
    @include FlexRowCentered;
    @include Logo;
    padding: 12px 0;
  }

  &__FormGroup {
    border: 1px solid $black-color;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    max-width: 1100px;
    

    &__Income {
      @include FlexRowCentered;
      flex-flow: wrap;
      gap: 12px;

      &__Input {
        @include FlexColumn;
        @include FontLarge;
        padding: 12px 0;
      }

    }
  }

  &__Analytics {
    padding-top: 24px;
    @include FlexColumnCentered ;
    gap: 24px;

    &__Title {
      @include Logo;
    }

    &__Content{
      @include FlexRowStart;
      gap: 24px;

      &__TabGroup {

        &__Tab {
          position: relative;

          &__Title {
            @include FontLarge;
            padding-top: 24px; 
            position: absolute;
            top: 48px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1; /* Ensure the title appears on top of the chart */
          }
          
          @include FlexColumnCentered;


        }

      }
    }
  }

  &__GraphPlaceholder {
    @include FlexColumnCentered;
    font-family: 'Cabin', sans-serif;
    padding-top: 48px;
  }
}

