@import '../../styles.scss';

.Selector {
  @include FlexColumnCentered;
  gap: 24px;
  padding: 24px;

  &__Title {
    @include FontH1;
  }

  &__List {
    @include FlexRowSpacedBetween;
    gap: 24px;
    flex: wrap;

    &__Option {
      @include FlexRowCentered;
      @include Logo;
      border-radius: 12px;
      width: 250px;
      height: 250px;
      background-color: $accent1-color;
      padding: 10px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    &__Option:hover {
      @include FontLarge;
      background-color: #ae936e;
    }
    
  }

  @media only screen and (max-width: 600px) {
    
    &__List {
      @include FlexColumnCentered;
    }
  }
}