@import '../../styles.scss';

.Selector {
  @include FlexColumnCentered;
  gap: 24px;
  width: 99vw;
  height: 100vh;
  overflow-x: hidden;

  &__Title {
    @include FontH1;
  }

  &__Option {
    @include FlexRowCentered;
    @include FontLarge;
    border-radius: 12px;
    min-width: 500px;
    max-width: 1200px;
    height: 100px;
    background-color: $accent1-color;
    padding: 0 24px;
  }
}