<div class="Savings">
  <form class="Savings__Form" [formGroup]="savingsForm" [@slideInFromLeft] >
    <div class="Savings__Form__Title"> Savings Calculator</div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Initial Investment</mat-label>
          <input matInput placeholder="$100" formControlName="initial" prefix="$ " mask="separator.2" thousandSeparator=",">
          <mat-error *ngIf="checkError('initial', 'required')"
            >This field is required</mat-error
          >
          <mat-error *ngIf="checkError('initial', 'pattern')"
            >Please enter a number</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Contribution Amount</mat-label>
          <input matInput placeholder="$100" formControlName="contribution" prefix="$ " mask="separator.2" thousandSeparator=",">
          <mat-error *ngIf="checkError('contribution', 'required')"
            >This field is required</mat-error
          >
          <mat-error *ngIf="checkError('contribution', 'pattern')"
            >Please enter a number</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field  appearance="outline">
          <mat-label>Contribution Frequency</mat-label>
          <mat-select formControlName="contributionFrequency" placeholder="Choose">

            <mat-option value="24">Twice a Month</mat-option>
            <mat-option value="12">Monthly</mat-option>
            <mat-option value="1">Yearly</mat-option>
          </mat-select>
          <mat-error *ngIf="checkError('contributionFrequency', 'required')"
            >This field is required</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Years to Grow</mat-label>
          <input matInput placeholder="25 Years" formControlName="time" type="number" min="0" max="50" suffix=" Years">
          <mat-error *ngIf="checkError('time', 'required')">This field is required</mat-error>
          <mat-error *ngIf="checkError('time', 'pattern')">Please enter a number</mat-error>
          <mat-error *ngIf="checkError('time', 'min')">Please enter a number 1 - 50</mat-error>
          <mat-error *ngIf="checkError('time', 'max')">Please enter a number 1 - 50</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>APY</mat-label>
          <input matInput placeholder="3.50%" formControlName="apy" mask="separator.2" thousandSeparator="," suffix="%">
          <mat-error *ngIf="checkError('apy', 'required')">This field is required</mat-error>
          <mat-error *ngIf="checkError('apy', 'pattern')">Please enter a number</mat-error>
        </mat-form-field>
      </div>

      <button mat-flat-button (click)="submitForm()" class="Savings__Form__Submit">Calculate</button>
    </form>


  <div class="Savings__Graph" [@slideInFromRight]> 
    <ngx-charts-area-chart
    [view]="graphSettings.view"
    [showXAxisLabel]="graphSettings.showXAxisLabel"
    [showYAxisLabel]="graphSettings.showYAxisLabel"
    [xAxis]="graphSettings.xAxis"
    [yAxis]="graphSettings.yAxis"
    [xAxisLabel]="graphSettings.xAxisLabel"
    [yAxisLabel]="graphSettings.yAxisLabel"
    [timeline]="graphSettings.timeline"
    [results]="dataset">
  </ngx-charts-area-chart>
  </div>
</div>
