@import '../../styles.scss';

.Banner {
  @include FlexColumnCentered;
  &__Title {
    @include FlexColumnCentered;
    @include FontH2;

    &__Small {
      @include FontSmall;
    }

    &__Large {
      @include FontLarge;
    }

    &__Medium {
      @include FontMedium;
    }
  }
}


#Start {
  @include FlexColumnCentered;
  background-color: $white-color;
  min-height: 500px;
  gap: 16px;

  &__Title {
    @include FlexColumnCentered;
    @include FontH2;
  }

  &__Sub {
    @include FlexRow;
    @include FontH3;
  }
  
  &__Navigation {
    @include FlexRowCentered;
    gap: 20px;

    .Link {
      @include FontMedium;
      color: $black-color;
      text-decoration: none;
    
      :hover {
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
      }
    }

  }
}

#Features {
  @include FlexColumn;
  background-color: $accent2-color;
  padding: 48px 200px;
  gap: 24px;

  &__Title {
    @include FontH2;
    margin-top: 24px;
    text-align: center;
  }
  
  &__Cards {
    @include FlexRow;
    gap: 24px;
    padding: 24px;
  }

  @media (max-width: 900px) {
    padding: 0 0;
    &__Cards {
      @include FlexColumn;
      gap: 24px;
      padding: 24px;
    }
  }
}


#FAQ {
  background-color: $accent1-color;
  @include FlexRow;
  padding: 24px 24px;
  gap: 24px;

  .FAQ__Title {
    @include FlexColumn;
    align-items: flex-start;

    &__Small {
      @include FontSmall;
    }
    
    &__Medium {
      @include FontMedium;
      text-align: center;
      margin-top: 16px;
    }

    &__Large {
      @include FontH1;
      text-align: center;
    }
  }

  .FAQ__Info {
    @include FlexColumn;
    gap: 16px;

    &__Question {      
    font-size: 20px;
    font-family: 'Cabin-Bold', sans-serif;
    }

    &__Answer {
      @include FontMedium;
    }
  }

  @media only screen and (max-width: 600px) {
    background-color: $accent1-color;
    @include FlexColumn;
    padding: 24px 24px;
    gap: 24px;

    .FAQ__Info {
      @include FlexColumn;
      gap: 16px;

      &__Question {      
      font-size: 20px;
      font-family: 'Cabin-Bold', sans-serif;
      }

      &__Answer {
        @include FontMedium;
      }
    }
  }

}
