@import '../../styles.scss';

.Card {
  @include FlexRow;
  background-color: $secondary1-color;
  border-radius: 13px;
  gap: 24px;
  padding: 30px;

  &__Icon {
    @include FlexColumn;
    padding-top: 2px;
  }

  &__Text {
    @include FlexColumn;
    gap: 16px;
    word-wrap: break-word;

    &__Header {
      font-size: 24px;
      font-family: 'Cabin-Bold';
    }

    &__Sub {
      @include FontMedium;
    }
  }
}