@import '../../styles.scss';

.Navbar{
  @include BackgroundColor($white-color);
  @include FlexRowSpacedBetween;
  align-items: center;
  width: 100%;
  padding: 1rem 0;

  &__Left {
    @include Logo;
    padding-left: 2rem;
    color: $black-color;
    text-decoration: none;
  }

  &__Mid {
    @include FlexRow;
    @include FlexGap(3rem);
    @include FontSmall;
  }

  &__Right {
    @include FlexRowCentered;
    @include FlexGap(3rem);
    padding-right: 2rem;

    
  }

  .Link {
    @include FontSmall;
    color: $black-color;
    text-decoration: none;

    :hover {
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}