<div id="Start" class="Banner" [style.height]="'500px'" [style.backgroundColor]="colors.WHITE">
  <div class="Banner__Title" [style.height]="'300px'">
    Financial Freedom Starts Here
  </div>
</div>
<div id="Features" class="Banner" [style.height]="'500px'" [style.backgroundColor]="colors.ACCENT2">
  <div class="Banner__Title" [style.height]="'300px'">
    Powerful Features for Financial Guidance
  </div>
</div>
<div id="About" class="Banner" [style.height]="'500px'" [style.backgroundColor]="colors.WHITE">
  <div class="Banner__Title" [style.height]="'300px'">
    Take Control of Your Finances
  </div>
</div>
<div id="FAQ" class="Banner" [style.height]="'500px'" [style.backgroundColor]="colors.ACCENT1">
  <div class="Banner__Title" [style.height]="'300px'">
    FAQ
  </div>
</div>