@import '../../styles.scss';

.Footer {
  @include BackgroundColor($white-color);
  padding: 2rem 0;

  &__Logo {
    @include FlexRowCentered;
    @include Logo;
    padding: 0.5rem 0;
  }

  &__Links {
    @include FlexRowCentered;
    @include FlexGap(3rem);
    @include FontSmall;
    padding: 0.5rem 0;
  }

  hr {
    margin: 0.5rem 2rem;

  }

  &__Me {
    @include FlexRowCentered;
    @include FlexGap(3rem);
    @include FontSmall;
    padding: 0.5rem 0 0 0;
  }

  .Link {
    @include FontSmall;
    color: $black-color;
    text-decoration: none;

    :hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

