// Colors Variables

$primary1-color: #35452B;
$primary2-color: #727D6B;
$secondary1-color: #E9E7DE;
$accent1-color: #C7B090;
$accent2-color: #768350;
$black-color: #1E2203;
$white-color: #FBF9EF;

// Colors Mixins

@mixin PrimaryColor {
  color: $primary1-color;
}

@mixin Primary2Color {
  color: $primary2-color;
}

@mixin Secondary1Color {
  color: $secondary1-color;
}

@mixin Accent1Color {
  color: $accent1-color;
}

@mixin Accent2Color {
  color: $accent2-color;
}

@mixin BlackColor {
  color: $black-color;
}

@mixin WhiteColor {
  color: $white-color;
}

@mixin BackgroundColor($color) {
  background-color: $color;
}

@mixin BorderColor($color) {
  border-color: $color;
}

@mixin GetColor($color) {
  color: $color;
}
