// Flexbox Mixins

// Flex Row
@mixin FlexRow {
    display: flex;
    flex-direction: row;
}

@mixin FlexRowCentered {
    @include FlexRow();
    align-items: center;
    justify-content: center;
    text-align: center;
}

@mixin FlexRowSpacedBetween {
    @include FlexRow();
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

@mixin FlexRowSpacedEvenly {
    @include FlexRow();
    justify-content: space-evenly;
    align-items: center;
}

@mixin FlexRowSpacedAround{
    @include FlexRow();
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

@mixin FlexRowStart {
    @include FlexRow();
    justify-content: flex-start;
    align-items: center;
}

@mixin FlexRowEnd {
    @include FlexRow();
    justify-content: flex-end;
    align-items: center;
}

// Flex Column
@mixin FlexColumn {
    display: flex;
    flex-direction: column;
}

@mixin FlexColumnCentered{
    @include FlexColumn();
    align-items: center;
    justify-content: center;
    text-align: center;
}

//Flex Gap
@mixin FlexGap($gap){
    gap: $gap
}